﻿table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

p {
    margin: 0;
    margin-right: 0;
    align-self: center;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.container {
    background-color: khaki;
    align-self: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
   justify-content: center;
}